.section-header {
  padding: 1rem .5rem;
  width: 100%;
  z-index: 200;
}
.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem;
}
.profile .panel {
  border: none;
}
.tile {
  margin: 1.5rem 0;
}
.tile-content {
  display: flex;
}
.endorsements {
  display: flex;
  align-items: center;
}
.separator {
  width: 20%;
  border-top: 1px solid #f0f1f4;
  height: 1px;
  margin: 0 1rem;
}
.toast {
  margin: 1.5rem 0;
}