.section-header {
  padding: 1rem .5rem;
  width: 100%;
  z-index: 200;
}
.bg-gray {
  background: #f8f9fa;
  color: #667189;
  padding: 1rem;
}
.profile .panel {
  border: none;
}
.tile {
  margin: 1.5rem 0;
}
.endorsements {
  display: flex;
}
.toast {
  margin: 1.5rem 0;
}